.App{
    font-family:serif;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.App-container{
    background-color: #000000;
}  
@media screen and (max-width:500px) {
    
    .App{
        display: flex;
        flex-direction: column;
    }
    .App .col-2, .App .col{
        width: 100%;
    }
}
.gaby:hover{
    text-decoration: underline;
}